@font-face {
    font-family: 'Times New Roman';
    src: url(OPTITimes-Roman.otf);
}


html {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}



.box {
    display: flex;
    width: 200px;
    height: 200px;
    background-color: rgb(136, 174, 136);
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 40px;
}